 /* The sidebar menu */
 .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: var(--background-color-panel); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    width: 120px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .fixed-actions {
    padding-left: 16px;
    background-color: var(--background-color-panel);
    position: fixed;
    width: 100%;
    height: var(--fixed-actions-height);
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .quick-actions {
    display: flex;
  }

  .sidebar .quick-actions button,
  .sidebar .quick-actions input {
    height: 20px;
    margin: 8px 0;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--background-color);
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 20px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #header, #sections {
    transition: margin-right .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 