#osmw {
  background-color: #393746;
  border-radius: 4px;
  outline: solid 1px var(--element-hover-color);
  height: 32px;
  border: none;
  color: white;
  font-size: 15px;
}

.search-button {
  background-color: var(--element-hover-color);
  border: none;
  height: 32px;
  color: white;
  width: calc(20% - 80px);
}

.search span {
  width: 75px;
  font-size: 24px;
  display: inline-block;
}

section.search .search-field {
    width: calc(100% - 220px);
}

.search {
    width: 100%;
    margin-bottom: 8px;
}
