:root {
  --background-color: #2B2A33;
  --background-color-secondary: #42414d;
  --background-color-panel: #000;
  --text-primary-color: #fbfbfe;
  --text-secondary-color: color-mix(in srgb, var(--text-primary-color) 80%, transparent);
  --element-hover-color: #565659;
  --fixed-actions-height: 64px;
  --screen-large: 1008px;
  --screen-medium-floor: 641px;
  --screen-medium-ceil: 1007px;
  --screen-small: 640px;
  --screen-tiny: 450px;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Helvetica Neue", sans-serif;
  color: var(--text-primary-color);
  margin: 0;
}

main {
  margin: auto;
  width: 986px;
}

.ml120 {
  margin-left: 120px;
}

.logo-and-wordmark {
  align-items: center;
  display: flex;
  justify-content:center;
}

/* FORM */
.panel {
  padding-left: 16px;
  padding-top: var(--fixed-actions-height);
}

.panel label {
  display: inline-block;
  min-width: 100px;
}

.panel label.section-title {
  min-width: 116px;
}

.panel>.app-buttons {
  margin-left: 120px;
}

.form-app {
  padding-left: 16px;
}

.form-input {
  width: calc(100% - 140px);
}

.form-input-section {
  width: calc(100% - 156px);
}

.app-buttons {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.form-app .app-buttons {
  margin-left: 104px;
}

.app-buttons input,button {
  width: 42%;
}

.icon-border-dashed {
  margin-left: 120px;
  border-style: dashed;
}

.button-success {
  background-color: green;
}

.button-error {
  background-color: red;
}

/* SECTION */

#sections {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: unset;
}

section:not(.search) {
    width: calc(50% - 10px);
    margin: auto;
    border-radius: 4px;
    background-color: #393746;
    margin-top: 4px;
    padding: 2px;
}
  
.section-title {
  margin: 8px;
  padding-bottom: 8px;
  font-size-adjust: 0.45;
}

.section-placeholder {
  padding: 0 !important;
}

ul.section-list {
  list-style-type: none;
  padding: 0;
  margin: auto;
}

li.site {
  width: 90px;
  padding: 4px 0px 4px;
  border-radius: 8px;
  display: inline-block;
  margin: auto;
}

li.site:is(.active, :focus, :hover) {
  background: var(--element-hover-color);
}

li.site > a {
  display: block;
  outline: none;
}

li.site a {
  text-decoration: none;
}

li.site a:visited {
  color: var(--text-primary-color);
}

.site-title {
  color: var(--text-primary-color);
  padding: 8px 0;
  font: caption;
  text-align: center;
  position: relative;
}

.site-title > span {
  width: 80px;
  display: inline-block;
  overflow-x: clip;
}

.site-icon {
  background-size: cover;
  height: 100%;
  inset-inline-start: 0;
  top: 0;
  width: 100%;
  background-color: var(--background-color-secondary);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4px;
  position: absolute;
}

.tile {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  background-color: var(--background-color-secondary);
  justify-content: center;
  margin: 0 auto;
  height: 80px;
  width: 80px;
  cursor: pointer;
  position: relative;
  align-items: center;
  color: var(--text-secondary-color);
  display: flex;
  font-size: 32px;
  font-weight: 200;
  text-transform: uppercase;
}

.tile .site-icon {
  border-radius: 4px;
  width: 48px;
  height: 48px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

